<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tram timetable – {{ stop|title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}?3">
  </head>
  <body>
    <div id="header">
      <!--img src="{{ url_for('static', filename='tfgm.svg') }}" alt="TfGM Icon"-->
      <img src="{{ url_for('static', filename='sis.svg') }}" alt="Social 7 Icon">

      <h1>Trams departing from {{stop}}</h1>
      <div id="clock"></div>
    </div>
    <div id="table-wrapper">
      <table id="timetable">
        {{ timetable | safe }}
      </table>
    </div>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script <script src="{{ url_for('static', filename='boardRefresh.js') }}"></script>
    <script <script src="{{ url_for('static', filename='clock.js') }}"></script>
  </body>
</html>
