<!DOCTYPE HTML>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tram timetable – {{ stop|title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <table id="timetable">
      {{ timetable | safe }}
    </table>
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script>
    var timeout;
    function autoTimeout() {
      clearTimeout(timeout);
      timeout = setTimeout(function(){ console.log('Refreshing'); refreshBoards(); }, 50000);
    };
    $("#timetable").on('webkitAnimationEnd oanimationend msAnimationEnd animationend', function() { //after any text is finished animating
      refreshBoards();
    });
    function refreshBoards() {
      $.get(document.origin+'/timetable/{{stop}}'+location.search, function(data) { //grab the latest timetable
         $("#timetable").html($.parseHTML(data)); //stick the data into a table
         autoTimeout();
       });
    };
    autoTimeout();
  </script>
  </body>
</html>
